
<div *ngIf="recipe">
    <h2><span jhiTranslate="resetarioApp.recipe.detail.title">Recipe</span> {{recipe.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="resetarioApp.recipe.name">Name</span></dt>
        <dd>
            <span>{{recipe.name}}</span>
        </dd>
        <dt><span jhiTranslate="resetarioApp.recipe.instructions">Instructions</span></dt>
        <dd>
            <span>{{recipe.instructions}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'recipe/'+ recipe.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
