<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <div class="modal-header">
        <h4 class="modal-title" id="myRecipeLabel" jhiTranslate="resetarioApp.recipe.home.createOrEditLabel">Create or edit a Recipe</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!recipe.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="recipe.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="resetarioApp.recipe.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="recipe.name"  />
        </div>
        <hr/>

         <jhi-recipe-ingredient-list [ingredientItems]="recipe.ingredientItems"></jhi-recipe-ingredient-list>
        <hr/>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="resetarioApp.recipe.instructions" for="field_instructions">Instructions</label>
            <textarea cols="20" rows="10" class="form-control" name="instructions" id="field_instructions"
                [(ngModel)]="recipe.instructions">

            </textarea>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
