
<div *ngIf="ingredientItem">
    <h2><span jhiTranslate="resetarioApp.ingredientItem.detail.title">Ingredient Item</span> {{ingredientItem.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="resetarioApp.ingredientItem.quantity">Quantity</span></dt>
        <dd>
            <span>{{ingredientItem.quantity}}</span>
        </dd>
        <dt><span jhiTranslate="resetarioApp.ingredientItem.mediationUnit">Mediation Unit</span></dt>
        <dd>
            <span jhiTranslate="{{'resetarioApp.MediationUnit.' + ingredientItem.mediationUnit}}">{{ingredientItem.mediationUnit}}</span>
        </dd>
        <dt><span jhiTranslate="resetarioApp.ingredientItem.ingredient">Ingredient</span></dt>
        <dd>
            <div *ngIf="ingredientItem.ingredientId">
                <a [routerLink]="['/ingredient', ingredientItem.ingredientId]">{{ingredientItem.ingredientName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="resetarioApp.ingredientItem.recipe">Recipe</span></dt>
        <dd>
            <div *ngIf="ingredientItem.recipeId">
                <a [routerLink]="['/recipe', ingredientItem.recipeId]">{{ingredientItem.recipeName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'ingredient-item/'+ ingredientItem.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
