<div>
    <h2>
        <span jhiTranslate="resetarioApp.ingredientItem.home.title">Ingredient Items</span>
        <button class="btn btn-primary float-right create-ingredient-item" [routerLink]="['/', { outlets: { popup: ['ingredient-item-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="resetarioApp.ingredientItem.home.createLabel">
            Create new Ingredient Item
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'resetarioApp.ingredientItem.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="ingredientItems">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="quantity"><span jhiTranslate="resetarioApp.ingredientItem.quantity">Quantity</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="mediationUnit"><span jhiTranslate="resetarioApp.ingredientItem.mediationUnit">Mediation Unit</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="ingredientName"><span jhiTranslate="resetarioApp.ingredientItem.ingredient">Ingredient</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="recipeName"><span jhiTranslate="resetarioApp.ingredientItem.recipe">Recipe</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ingredientItem of ingredientItems ;trackBy: trackId">
                <td><a [routerLink]="['../ingredient-item', ingredientItem.id ]">{{ingredientItem.id}}</a></td>
                <td>{{ingredientItem.quantity}}</td>
                <td jhiTranslate="{{'resetarioApp.MediationUnit.' + ingredientItem.mediationUnit}}">{{ingredientItem.mediationUnit}}</td>
                <td>
                    <div *ngIf="ingredientItem.ingredientId">
                        <a [routerLink]="['../ingredient', ingredientItem.ingredientId  ]" >{{ingredientItem.ingredientName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="ingredientItem.recipeId">
                        <a [routerLink]="['../recipe', ingredientItem.recipeId  ]" >{{ingredientItem.recipeName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../ingredient-item', ingredientItem.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ingredient-item/'+ ingredientItem.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ingredient-item/'+ ingredientItem.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="ingredientItems && ingredientItems.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
