<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myIngredientItemLabel" jhiTranslate="resetarioApp.ingredientItem.home.createOrEditLabel">Create or edit a Ingredient Item</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!ingredientItem.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="ingredientItem.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="resetarioApp.ingredientItem.quantity" for="field_quantity">Quantity</label>
            <input type="number" class="form-control" name="quantity" id="field_quantity"
                [(ngModel)]="ingredientItem.quantity" min="0" />
            <div [hidden]="!(editForm.controls.quantity?.dirty && editForm.controls.quantity?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.quantity?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.quantity?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="resetarioApp.ingredientItem.mediationUnit" for="field_mediationUnit">Mediation Unit</label>
            <select class="form-control" name="mediationUnit" [(ngModel)]="ingredientItem.mediationUnit" id="field_mediationUnit" >
                <option value="GRM" jhiTranslate="resetarioApp.MediationUnit.GRM">GRM</option>
                <option value="KILOS" jhiTranslate="resetarioApp.MediationUnit.KILOS">KILOS</option>
                <option value="LITROS" jhiTranslate="resetarioApp.MediationUnit.LITROS">LITROS</option>
                <option value="CM_CUBICOS" jhiTranslate="resetarioApp.MediationUnit.CM_CUBICOS">CM_CUBICOS</option>
                <option value="UNIDADES" jhiTranslate="resetarioApp.MediationUnit.UNIDADES">UNIDADES</option>
                <option value="CUCHARADAS" jhiTranslate="resetarioApp.MediationUnit.CUCHARADAS">CUCHARADAS</option>
            </select>
        </div>

        <div class="form-group">
            <label jhiTranslate="resetarioApp.ingredientItem.ingredient" for="field_ingredient">Ingredient</label>
            <select class="form-control" id="field_ingredient" name="ingredient" [(ngModel)]="ingredientItem.ingredientId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="ingredientOption.id" *ngFor="let ingredientOption of ingredients; trackBy: trackIngredientById">{{ingredientOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="resetarioApp.ingredientItem.recipe" for="field_recipe">Recipe</label>
            <select class="form-control" id="field_recipe" name="recipe" [(ngModel)]="ingredientItem.recipeId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="recipeOption.id" *ngFor="let recipeOption of recipes; trackBy: trackRecipeById">{{recipeOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
