<div>
    <h2>
        <span jhiTranslate="resetarioApp.ingredient.home.title">Ingredients</span>
        <button class="btn btn-primary float-right create-ingredient" [routerLink]="['/', { outlets: { popup: ['ingredient-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="resetarioApp.ingredient.home.createLabel">
            Create new Ingredient
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" (input)="search(currentSearch)" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'resetarioApp.ingredient.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="ingredients">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="resetarioApp.ingredient.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="image"><span jhiTranslate="resetarioApp.ingredient.image">Image</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="categoryName"><span jhiTranslate="resetarioApp.ingredient.category">Category</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ingredient of ingredients ;trackBy: trackId">
                <td><a [routerLink]="['../ingredient', ingredient.id ]">{{ingredient.id}}</a></td>
                <td>{{ingredient.name}}</td>
                <td>
                    <a *ngIf="ingredient.image" (click)="openFile(ingredient.imageContentType, ingredient.image)">
                        <img [src]="'data:' + ingredient.imageContentType + ';base64,' + ingredient.image" style="max-height: 30px;" alt="ingredient image"/>
                    </a>
                    <!-- <span *ngIf="ingredient.image">{{ingredient.imageContentType}}, {{byteSize(ingredient.image)}}</span> -->
                </td>
                <td>
                    <div *ngIf="ingredient.categoryId">
                        <a [routerLink]="['../category', ingredient.categoryId  ]" >{{ingredient.categoryName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../ingredient', ingredient.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ingredient/'+ ingredient.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ingredient/'+ ingredient.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="ingredients && ingredients.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
