
<div *ngIf="ingredient">
    <h2><span jhiTranslate="resetarioApp.ingredient.detail.title">Ingredient</span> {{ingredient.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="resetarioApp.ingredient.name">Name</span></dt>
        <dd>
            <span>{{ingredient.name}}</span>
        </dd>
        <dt><span jhiTranslate="resetarioApp.ingredient.image">Image</span></dt>
        <dd>
            <div *ngIf="ingredient.image">
                <a (click)="openFile(ingredient.imageContentType, ingredient.image)">
                    <img [src]="'data:' + ingredient.imageContentType + ';base64,' + ingredient.image" style="max-width: 100%;" alt="ingredient image"/>
                </a>
                {{ingredient.imageContentType}}, {{byteSize(ingredient.image)}}
            </div>
        </dd>
        <dt><span jhiTranslate="resetarioApp.ingredient.category">Category</span></dt>
        <dd>
            <div *ngIf="ingredient.categoryId">
                <a [routerLink]="['/category', ingredient.categoryId]">{{ingredient.categoryName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'ingredient/'+ ingredient.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
