<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myIngredientLabel" jhiTranslate="resetarioApp.ingredient.home.createOrEditLabel">Create or edit a Ingredient</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!ingredient.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="ingredient.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="resetarioApp.ingredient.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="ingredient.name"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="resetarioApp.ingredient.image" for="field_image">Image</label>
            <div>
                <img [src]="'data:' + ingredient.imageContentType + ';base64,' + ingredient.image" style="max-height: 100px;" *ngIf="ingredient.image" alt="ingredient image"/>
                <div *ngIf="ingredient.image" class="form-text text-danger clearfix">
                    <!-- <span class="pull-left">{{ingredient.imageContentType}}, {{byteSize(ingredient.image)}}</span> -->
                    <button type="button" (click)="clearInputImage('image', 'imageContentType', 'fileImage')" class="btn btn-default btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="fileImage" (change)="setFileData($event, ingredient, 'image', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="image" id="field_image"
                [(ngModel)]="ingredient.image"  />
            <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                [(ngModel)]="ingredient.imageContentType" />
        </div>

        <div class="form-group">
            <label jhiTranslate="resetarioApp.ingredient.category" for="field_category">Category</label>
            <select class="form-control" id="field_category" name="category" [(ngModel)]="ingredient.categoryId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="categoryOption.id" *ngFor="let categoryOption of categories; trackBy: trackCategoryById">{{categoryOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
