<div class="form-inline">
  <div class="form-group row">
    <div class="col-md-6">
      <p-autoComplete [suggestions]="filteredIngredients" (completeMethod)="searchIngredients($event)" [size]="30" [minLength]="1"
        placeholder="{{'resetarioApp.ingredient.input' | translate}}" [dropdown]="true" (onDropdownClick)="handleDropdownClick($event)"
        field="name"  [(ngModel)]="ingredientItem.ingredient">
        <ng-template let-ingredient pTemplate="item">
          <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
            <img [src]="'data:' + ingredient.imageContentType + ';base64,' + ingredient.image" style="width:32px;display:inline-block;margin:5px 0 2px 5px" *ngIf="ingredient.image" alt="ingredient image"/>
            <div style="font-size:18px;float:right;margin:10px 10px 0 0">{{ingredient.name}}</div>
          </div>
        </ng-template>
      </p-autoComplete>
    </div>
    <div class="col-md-4">
      <input type="number" class="form-control" name="quantity" placeholder="Cantidad o Peso.." step=".01" [(ngModel)]="ingredientItem.quantity">
    </div>

    <div class="col-md-2">
      <select class="form-control" name="mediationUnit" [(ngModel)]="ingredientItem.mediationUnit">
            <option *ngFor="let mediationUnit of mediationUnits" [value]="mediationUnit.code">{{mediationUnit.label}}</option>
    </select>
    </div>
  </div>
</div>
