<div class="ingredient-items">
    <div class="form-group">
        <label class="form-control-label" jhiTranslate="resetarioApp.ingredient.home.title"></label>

        <button class="btn btn-primary float-right" (click)="addIngredientItem($event)" data-toggle="tooltip" data-placement="top"
            title="Agregar Ingrediente" type="button">
            <span class="hidden-sm-down"  jhiTranslate="global.add"></span>
            <span class="fa fa-plus"></span>
        </button>
    </div>

    <jhi-recipe-ingredient-item *ngFor="let ingredientItem of ingredientItems" [ingredientItem]="ingredientItem">
    </jhi-recipe-ingredient-item>
</div>